<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>问答</string>
		<key>items</key>
		<array>
			<dict>
				<key>item</key>
				<string>ask</string>
				<key>name</key>
				<string>提问数</string>
			</dict>
			<dict>
				<key>item</key>
				<string>answer</string>
				<key>name</key>
				<string>回答数</string>
			</dict>
			<dict>
				<key>item</key>
				<string>post</string>
				<key>name</key>
				<string>专栏文章数</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>赞同</string>
		<key>items</key>
		<array>
			<dict>
				<key>item</key>
				<string>agree</string>
				<key>name</key>
				<string>赞同数</string>
			</dict>
			<dict>
				<key>item</key>
				<string>agreei</string>
				<key>name</key>
				<string>1日赞同数增加</string>
			</dict>
			<dict>
				<key>item</key>
				<string>agreeiratio</string>
				<key>name</key>
				<string>1日赞同数增幅</string>
			</dict>
			<dict>
				<key>item</key>
				<string>agreeiw</string>
				<key>name</key>
				<string>7日赞同数增加</string>
			</dict>
			<dict>
				<key>item</key>
				<string>agreeiratiow</string>
				<key>name</key>
				<string>7日赞同数增幅</string>
			</dict>
			<dict>
				<key>item</key>
				<string>ratio</string>
				<key>name</key>
				<string>平均赞同（总赞同数/(回答+专栏)）</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>关注</string>
		<key>items</key>
		<array>
			<dict>
				<key>item</key>
				<string>followee</string>
				<key>name</key>
				<string>关注数</string>
			</dict>
			<dict>
				<key>item</key>
				<string>follower</string>
				<key>name</key>
				<string>被关注数（粉丝）</string>
			</dict>
			<dict>
				<key>item</key>
				<string>followeri</string>
				<key>name</key>
				<string>1日被关注数增加</string>
			</dict>
			<dict>
				<key>item</key>
				<string>followiratio</string>
				<key>name</key>
				<string>1日被关注数增幅</string>
			</dict>
			<dict>
				<key>item</key>
				<string>followeriw</string>
				<key>name</key>
				<string>7日被关注数增加</string>
			</dict>
			<dict>
				<key>item</key>
				<string>followiratiow</string>
				<key>name</key>
				<string>7日被关注数增幅</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>感谢</string>
		<key>items</key>
		<array>
			<dict>
				<key>item</key>
				<string>thanks</string>
				<key>name</key>
				<string>感谢数</string>
			</dict>
			<dict>
				<key>item</key>
				<string>tratio</string>
				<key>name</key>
				<string>感谢/赞同比</string>
			</dict>
			<dict>
				<key>item</key>
				<string>fav</string>
				<key>name</key>
				<string>收藏数</string>
			</dict>
			<dict>
				<key>item</key>
				<string>fratio</string>
				<key>name</key>
				<string>收藏/赞同比</string>
			</dict>
			<dict>
				<key>item</key>
				<string>logs</string>
				<key>name</key>
				<string>公共编辑数</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>赞同比</string>
		<key>items</key>
		<array>
			<dict>
				<key>item</key>
				<string>mostvote</string>
				<key>name</key>
				<string>最高赞同</string>
			</dict>
			<dict>
				<key>item</key>
				<string>mostvotepercent</string>
				<key>name</key>
				<string>最高赞同占比</string>
			</dict>
			<dict>
				<key>item</key>
				<string>mostvote5</string>
				<key>name</key>
				<string>前5赞同</string>
			</dict>
			<dict>
				<key>item</key>
				<string>mostvote5percent</string>
				<key>name</key>
				<string>前5赞同占比</string>
			</dict>
			<dict>
				<key>item</key>
				<string>mostvote10</string>
				<key>name</key>
				<string>前10赞同</string>
			</dict>
			<dict>
				<key>item</key>
				<string>mostvote10percent</string>
				<key>name</key>
				<string>前10赞同占比</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>赞同数</string>
		<key>items</key>
		<array>
			<dict>
				<key>item</key>
				<string>count10000</string>
				<key>name</key>
				<string>赞同≥10000答案数</string>
			</dict>
			<dict>
				<key>item</key>
				<string>count5000</string>
				<key>name</key>
				<string>赞同≥5000答案数</string>
			</dict>
			<dict>
				<key>item</key>
				<string>count2000</string>
				<key>name</key>
				<string>赞同≥2000答案数</string>
			</dict>
			<dict>
				<key>item</key>
				<string>count1000</string>
				<key>name</key>
				<string>赞同≥1000答案数</string>
			</dict>
			<dict>
				<key>item</key>
				<string>count500</string>
				<key>name</key>
				<string>赞同≥500答案数</string>
			</dict>
			<dict>
				<key>item</key>
				<string>count200</string>
				<key>name</key>
				<string>赞同≥200答案数</string>
			</dict>
			<dict>
				<key>item</key>
				<string>count100</string>
				<key>name</key>
				<string>赞同≥100答案数</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
